<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{user/base::Layout(~{::section})}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<section>
<div class="card">

	<div class="card-body">
		<div class="rows">
			<div class="col-md-8 offset-md-2">
		
			<div class="container text-center mt-10">
			<img alt="" th:src="@{/images/default.png}" th:style="'width:200px;height:200px;border-radius:50%'"><br><br>
			<h2 th:style="'font-style:italic;'">Start adding your contact on cloud</h2><br>
			<a th:href="@{/user/add_contact}"><button class="btn btn-primary btn-block">ADD NEW CONTACT</button></a>
			</div>
			<hr>
			<h3>Donate Us</h3>
			<input id="payment_input" type="text" class="form-control" placeholder="enter ammount here">
			<div class="container text-center">
			
			<button th:onclick="paymentStart()" class="btn btn-success btn-block" >PAY</button>
			</div>
			</div>
		</div>
	</div>
</div>

</section>
</body>
</html>