<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div class="container text-center">
				
				<div  th:if="${session.message}" th:classappend="${session.message.type}" class="alert " role="alert">
 				 <p th:text="${session.message.content}"></p>
 				<th:block th:text="${@sessionHelper.removeMessageFromSession()}" > </th:block>
				</div>
				<p> click here to <a th:href="@{/login}">login</a>
</div>
</body>
</html>